<launch>

  <!-- launch turtlesim node -->
  <!-- FILL IN -->

  <!-- launch "draw_service" node from "draw" (this is NOT a python file)
        in package "rpal_ros_test" -->
  <!-- FILL IN -->
  
  <!-- launch "draw_flower" node from "problem3.py" in package "rpal_ros_test" -->
  <!-- FILL IN -->
  
</launch>
